{% extends 'manager/base.html' %}

{% block content %}
    {%  include 'manager/messages.html' %}
<!--start form-->
  <br>
<div class="container shadow p-3 " style="width:50%">
  <form class="row g-3 " method="post" action="{% url 'add_footer' %}" enctype="multipart/form-data">
      {% csrf_token %}
<h3 style="text-align: center">Add Footer</h3>
      <div class="col-12">
    <label for="inputState" class="form-label">Website Name</label>
    <select id="inputState" name="website" class="form-select">
      <option selected disabled>Select website Name</option>
      {% for data in datas %}
          <option value="{{ data.name_of_website }}">{{ data.name_of_website }}</option>
        {% endfor %}
    </select>
  </div>

  <div class="col-12">
    <label for="inputAddress" class="form-label">Footer Image</label>
    <input type="file" name="footer" class="form-control" id="inputAddress" placeholder="Enter heading od website">
  </div>


     <center>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
         </center>
</form>
    </div>
  <!--End form-->
{% endblock %}