{% extends 'manager/base.html' %}

{% block content %}
    {%  include 'manager/messages.html' %}
<!--start form-->
  <br>
<div class="container shadow p-3 " style="width:50%">
  <form class="row g-3 " method="post" action="{% url 'add_images' %}" enctype="multipart/form-data">
      {% csrf_token %}
<h3 style="text-align: center">Add Images</h3>
      <div class="col-12">
    <label for="inputState" class="form-label">Website Name</label>
    <select id="inputState" name="website" class="form-select">
      <option selected disabled>Select website Name</option>
      {% for data in datas %}
          <option value="{{ data.name_of_website }}">{{ data.name_of_website }}</option>
        {% endfor %}
    </select>
  </div>

  <div class="col-12">
    <label for="inputAddress" class="form-label"> Image 1</label>
    <input type="file" name="image1" class="form-control" id="inputAddress" placeholder="Enter heading od website">
  </div>
        <div class="col-12">
    <label for="inputAddress" class="form-label"> Image 2</label>
    <input type="file" name="image2" class="form-control" id="inputAddress" placeholder="Enter heading od website">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label"> Image 3</label>
    <input type="file" name="image3" class="form-control" id="inputAddress" placeholder="Enter heading od website">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label"> Image 4</label>
    <input type="file" name="image4" class="form-control" id="inputAddress" placeholder="Enter heading od website">
  </div>
        <div class="col-12">
    <label for="inputAddress" class="form-label"> Image 5</label>
    <input type="file" name="image5" class="form-control" id="inputAddress" placeholder="Enter heading od website">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label"> Image 6</label>
    <input type="file" name="image6" class="form-control" id="inputAddress" placeholder="Enter heading od website">
  </div>

     <center>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
         </center>
</form>
    </div>
  <!--End form-->
{% endblock %}